<div class='col-md-8 mx-auto'>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"></li>
            <li class="breadcrumb-item active" aria-current="page">{{machine.name}}</li>
        </ol>
    </nav>
    <div id="${name}" class="info-box">
        <div id="${id}" class='mx-auto p-2'>
        </div>
    </div>
</div>