<div class='col-md-6 mx-auto'>
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">851 California</li>
</ol>
</nav>
    <div class="info-box">
        <div class='mx-auto' style='display:none;'><h3 class='font-weight-light'>Welcome</h3></div>
        <div class='mx-auto p-4'>
            <a class="mx-auto btn btn-block btn-info" href="/login">LOGIN</a>
            <a class="btn btn-block btn-github btn-info" href="/auth/github"><i class="fab fa-github fa-sm"></i>LOGIN WITH GITHUB</a>
            <hr>
            <a class="smx-auto btn btn-block btn-success" href="/signup">SIGN UP</a>
        </div>
    </div>
</div>